<body>
  <br>Here is a summary of what the team did from {{sprint_start|datetimeformat('%B %d')}} to {{sprint_end|datetimeformat('%B %d')}}.</br>
  <p>
  <br>Sprint taskboard: https://tree.taiga.io/project/morucci-software-factory/taskboard/{{sprint_id}}</br>

{% for topic, entries in topics.items() %}
  <h2>Regarding <i>{{topic}}</i>:</h2>
  <p>
  <ul>{% for entry in entries %}
      <li>{{entry['data']}}</li>
{% endfor %}
  </ul>
  <p>
{% endfor %}
  <p>
  <br>The meeting can be watched at {{bj_url|default('REPLACE ME')}}</br>
  <p>
  <br>The Next public review will happen {{next_sprint_end|datetimeformat('%A, %B %d')}} 08:00 EST, feel free to join us on #sf-dfg on Red Hat's internal IRC server for the event details.</br>
  <p>
  <br>The SF team</br>
</body>
